body{
	font-size: 18px;
	color: #2D3748;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
	}
	
header{
	background-color: #63B3ED;
	color: #FFFFFF;
	text-align: center;
	padding: 5px;
	padding-top: 50px;
	padding-bottom: 50px;
	}

h1{
	font-size: 36px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	}
	
header > img{
	border-radius: 50%;
	display: block;
	margin-left: auto;
  	margin-right: auto;	
	}

#article > article > h4{
	color: #718096;	
	}

#article{
	float: left;
	margin: 1.5% 1.5% 10% 10%;
	width: 50%;
	border-bottom-style: solid; 
	}


#article > article > img[src = 'intro.png']{
	float: right;
	}
#article > article > img[src = 'nature.jpg']{
	float: left;
	}


h2{
	font-size: 32px;
	color: #48BB78;
	}	


aside  {
	float: right;
	margin: 3.0% 1.5%;
	width: 30%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	}
	
#section1{
	color: #000000;
	background-color:#E2E8F0;
	padding: 5px;
	padding-left: 10px;
	}
	
#section2{	
	color: #48BB78;		
	}

#section3{	
	color: #48BB78;		
	}

#section2 > section > ul > li > a{
	color: #4299E1;;
	}

#section3 > section > ul > li > a{
	color: #4299E1;;
	}
	
footer {
	clear: both;
	background-color: #2C5282;
	color: #FFFFFF;
	padding: 5px;
	}
